psycopg2_binary==2.8.6
~atplotlib==2.2.5
python_telegram_bot==12.8
requests==2.24.0
selectorlib==0.16.0
matplotlib==3.3.3
psycopg2==2.8.6
PySimpleGUI==4.32.1
telegram==0.0.1
python-telegram-bot==11.1
